#datavis{
    width:  30%
}

#datavis2{
    width:  30%
}

#infotext-container{
    margin-top: 75px;
    width: 35%;
    height: 650px;
    overflow: scroll;
    border: 1px solid #ccc;
    padding: 0 2rem;
    
}


#infotext{
    
    
}

#legend {
    padding: 1rem;
}

